@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-color: lightcoral;
    --secondary-color: DimGrey;
    --tertiary-color: Gainsboro;

}

body{
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: Lato, sans-serif;
}

.container{
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 3px 3px 3px gray;
}